<% errors = model.errors %>
<% if errors.any? %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">
      x
    </button>
    <div class="lead buffer-bottom">
      <%= t('views.partials.form_errors') %> <%= I18n.t :mistake, count: errors.count %>
    </div>

    <ul>
      <% errors.each do |error| %>
        <li><%= error.attribute %> <%= error.message %></li>
      <% end %>
    </ul>
  </div>
<% end %>