<main class="col-md-6">
  <div class="form-group">
    <h1 class="text-center">Редактирование профиля</h1>
    <%= render 'form' %>
    <p class="mt-4 mb-4">
      <%= link_to 'Сменить пароль', edit_user_registration_path %>
    </p>
  </div>
</main>