<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">События</h1>
  <p class="lead">Создай прямо сейчас или присоединяйся к другим</p>
  <%= link_to 'Создать событие', new_event_path, class: 'btn btn-lg btn-success' %>
</div>

<div class="row buffer-bottom">
  <%= render partial: "events/event", collection: @events %>
</div>